*{box-sizing:border-box;}
body {
  background-color: #FFFFFF;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  color: #545352;
}
.root{
  width: 100%;
  height: 100%;
  background-color: rgb(216, 248, 224);

}
input[type="text"]{
  width: 110px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #545352;
  margin-left: 20px;
  margin-top: 25px;
  display: inline-block;
  padding-top: 3px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
  color:#545352;
  border-radius: 20px;
  box-shadow: 2px 2px 5px #545352;
}
p{
  display: inline-block;
}
.message{
  color: #545352;
  font-style: 18px;
  z-index: 52;
  position: fixed; 
  right: 0; 
  margin-top: -40px; 
  left: 0; 
}
.checkbox{
  width: 15px;
  height: 15px;
  margin-top: 30px;
  margin-right: 10px;
  display: inline-block;
  box-shadow: 2px 2px 5px #545352;
}
.conteiner{
  width: 100%;
	height: 100%;
  background-color: #FFFFFF;
	text-align: center;
  position: fixed;
  border: 1px solid rgb(88, 224, 122);
  visibility: visible;
  z-index: 50;
  text-align: center;;
}
.conteinerTwo {
  width: 300px;
  height: 185px; 
  background-color: #FFFFFF;
  border: 2px solid #545352;
  position: absolute; 
  padding: auto;
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0; 
  margin: auto; 
  z-index: 51;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #545352;

}
.btn {
  width: 280px;
  height: 40px;
  background-color: #FFFFFF;
  border: 2px solid #545352;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
  color:  #545352;
  padding: 2px;
  border-radius: 25px;
  box-shadow: 2px 2px 5px #545352;
}
.btn:hover {
  background-color: #c0bcbc;
  cursor: pointer;
}
.btnTwo:hover {
  background-color: #a39e9e;
  color: #0f0f0f;

}
.room{
  width: 1200px;
  height: 680px;
  background-color:#FFFFFF;
  position: absolute; 
  right: 0; 
  left: 0; 
  margin: auto; 
  z-index: 1;
  text-align: center;
  margin-top: 20px;
} 
